
.installed.cfg
*.py[cod]
*$py.class
*.so
*.egg-info
*.egg-info/
*.egg
.eggs/
.Python
__pycache__/
build/
develop-eggs/
dist/
eggs/
share/python-wheels/
wheels/

circus/__pycache__/
circus/*.py[cod]
circus/*$py.class
log
*.log
*.txt

*.dat
